/* default style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    padding: 20px 20px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.main .box{
    width: 300px;
    height: 350px;
    margin: 15px;
    box-shadow: 0px 5px 15px #000;
}
.main .box img{
    width: 100%;
    height: 78%;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
}
.main .box img:hover{
    opacity: 0.7;
}
.main h1{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    font-family: sans-serif;
    color: #302f2f;
}
.main p{
    text-align: center;
    padding: 5px;
    font-size: 17px;
}
.main p span{
    color: rgb(71, 70, 70);
    font-size: 20px;
}
section p{
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    color: #000016;
    font-family: sans-serif;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer p{
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
}
footer button{
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 17px;
    background-color: aqua;
    color: rgb(37, 37, 37);
}
.active{
    border: 2px solid #000016;
}